/*Primeira linha do cabeçalho*/
.menu1 {
    background-color: #f91065;
    display: flex;
    padding: 10px;
}

.titulo {
    font-size: 22px;
    margin-left: 5%;
}

.nomeSagrado {
    text-decoration: none;
    color: #383a4c;
    font-family: sans-serif;
    font-weight: bold;
}

.carrinho{
    margin-left: 1%;
    margin-top: 5px;
}

.linkCarrinho{
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: 3px solid #000;
    color: #383a4c;
    border-radius: 25px;
    padding: 5px;
}

.login{
    margin-top: 5px;
    margin-left: 35%;
}

.linkLogin{
    text-decoration: none;
    border: 2px solid #000;
    border-radius: 25px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #383a4c;
    padding: 5px;
}

.pesquisar{
    margin-top: 5px;
    margin-left: 5%;
    padding: 5px;
    border: 2px solid #000;
    border-radius: 25px;
    font-size: 14px;
    width: 500px;
}