.loading {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  margin-bottom: 70px;
}

.gondula {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.produtos {
  width: 23%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #ffedef ;
}

.linkDescricao {
  text-decoration: none;
}

.produtos img {
  height: 320px;
  width: 280px;
}


.produtos h1 {
  font-size: 16px;
  margin-top: 10px;
  font-family: sans-serif;
}

.button{
  margin-top: 7px;
  padding-right: 15px;
}


/*CSS do carrinho*/
.linkCC{
  display: inline-block;
  padding: 15px 25px;
  background-color: #f91065;
  color: #ffedef;
  text-decoration: none;
  border-radius: 4px;
}

.linkCC:hover{
  background-color: #f91065 ;
}

