/*Segunda linha do cabeçalho*/
div.menu2{
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: #ffedef;
}

nav.menu2{
    font-size: 30px;
    padding: 10px;
    font-family: sans-serif;
    font-weight: bold;
    color: #383a4c;
}

.link{
    text-decoration: none;
}

.menu2 span{
    font-size: 40px;
    color: black;
    padding: 0 150px;
}