/*Primeira linha do cabeçalho*/
.menu1 {
    background-color: #f91065;
    display: flex;
    padding: 10px;
}

.titulo {
    font-size: 25px;
    margin-left: 5%;
}

.nomeSagrado {
    text-decoration: none;
    color: #383a4c;
    font-family: sans-serif;
    font-weight: bold;
}

.login{
    margin-top: 5px;
    margin-left: 40%;
}

.linkLogin{
    text-decoration: none;
    border: 2px solid #000;
    border-radius: 25px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #383a4c;
    padding: 5px;
}

.pesquisar{
    margin-top: 5px;
    margin-left: 5%;
    padding: 5px;
    border: 2px solid #000;
    border-radius: 25px;
    font-size: 14px;
    width: 500px;
}

/*Segunda linha do cabeçalho*/
div.menu2{
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: #ffedef;
}

nav.menu2{
    font-size: 30px;
    padding: 10px;
    font-family: sans-serif;
    font-weight: bold;
    color: #383a4c;
}

.link{
    text-decoration: none;
}

.menu2 span{
    font-size: 40px;
    color: black;
    padding: 0 150px;
}